@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?l68f3h');
  src: url('../fonts/icomoon.eot?#iefixl68f3h') format('embedded-opentype'), url('../fonts/icomoon.woff?l68f3h') format('woff'), url('../fonts/icomoon.ttf?l68f3h') format('truetype'), url('../fonts/icomoon.svg?l68f3h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  position: relative;
  top: 6px;
  left: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 23px;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\e600";
}
.icon-play:before {
  content: "\e601";
}
.icon-image:before {
  content: "\e602";
}
.icon-code:before {
  content: "\e603";
}
.icon-arrows:before {
  content: "\e604";
}
.icon-eye_on:before {
  content: "\e606";
}
.icon-eye_off:before {
  content: "\e605";
}
.icon-invert:before {
  content: "\e607";
}
.icon-new:before {
  content: "\e608";
}
.icon-trashcan:before {
  content: "\e609";
}
body {
  cursor: default;
  background-color: #2a2a2a;
  background-image: url(../img/bg_app2.png);
  padding: 10px;
  margin: 0px;
  height: 0px;
  overflow: hidden;
  font: 11px/16px Helvetica;
  letter-spacing: 0.5px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
figure {
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0px;
}
.app-layout {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
}
.area {
  position: absolute;
  left: 0px;
  right: 0px;
}
.area.top {
  top: 0px;
  height: 30px;
}
.area.canvas {
  top: 33px;
  bottom: 176px;
  right: 283px;
}
.area.canvas .content {
  left: 3px;
  bottom: 25px;
  background-image: url(../img/bg_checkers.png);
}
.area.canvas .options li {
  float: left;
  padding: 2px 7px 1px 3px;
}
.area.nav {
  top: 33px;
  left: auto;
  height: 200px;
  width: 280px;
}
.area.assets {
  top: 236px;
  bottom: 176px;
  right: 19px;
  left: auto;
  width: 261px;
  border-radius: 5px;
}
.area.assets .content {
  right: 3px;
  bottom: 21px;
}
.area.assets .options {
  bottom: 0px;
  left: 7px;
}
.area.assets .scroll_bg {
  bottom: 19px;
}
.area.assets .scroll_bg.vertical {
  top: 17px;
}
.area.timeline {
  height: 154px;
  bottom: 19px;
  right: 19px;
  border-radius: 5px 0px 0px 5px;
}
.area.timeline .content {
  top: 4px;
  bottom: 3px;
  color: #aaa;
  text-shadow: 0px 1px 2px #333;
}
.area.timeline .content.left {
  width: 221px;
  border-radius: 3px 0px 0px 3px;
}
.area.timeline .content.right {
  left: 225px;
  border-radius: 0px 3px 3px 0px;
}
.area.timeline .content .layers figure {
  color: #333;
  text-shadow: 0px 1px 2px #777;
}
.area.timeline .content .layers li {
  height: 23px;
  padding: 0px 3px;
  line-height: 11px;
  border-top: #727272 1px solid;
  border-bottom: #555 1px solid;
}
.area.timeline .scroll_bg.horizontal {
  left: 225px;
}
.panel {
  background: #454545;
  border-radius: 5px;
}
.panel .title {
  position: relative;
  top: 3px;
  left: 5px;
  color: #aaa;
  text-shadow: 0px 1px 2px #333;
}
.concave {
  position: absolute;
  background: #454545;
  width: 5px;
  height: 5px;
}
.concave:before {
  content: '';
  background-color: #2a2a2a;
  background-image: url(../img/bg_app2.png);
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.concave.utr {
  top: 0px;
  right: -5px;
}
.concave.utr:before {
  top: 0px;
  right: -5px;
}
.concave.utl {
  top: 0px;
  left: -5px;
}
.concave.utl:before {
  top: 0px;
  left: -5px;
}
.concave.ltl {
  top: -5px;
  left: 0px;
}
.concave.ltl:before {
  top: -5px;
  left: 0px;
}
.concave.lbl {
  bottom: -5px;
  left: 0px;
}
.concave.lbl:before {
  bottom: -5px;
  left: 0px;
}
.content {
  background: #636363;
  position: absolute;
  top: 21px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  z-index: 2;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), inset 1px 1px 1px #707070, inset -1px -1px 0px #5b5b5b;
}
.scroll_bg {
  background: #454545;
  position: absolute;
  cursor: pointer;
}
.scroll_bg:after {
  content: '';
  background: #383838;
  position: absolute;
  border-radius: 7px;
}
.scroll_bg .scroll_bar {
  background: #2a2a2a;
  position: absolute;
  border-radius: 5px;
  z-index: 2;
}
.scroll_bg.vertical {
  border-radius: 0px 5px 5px 0px;
  top: 0px;
  right: -19px;
  bottom: 0px;
  width: 19px;
}
.scroll_bg.vertical:after {
  top: 5px;
  bottom: 5px;
  right: 5px;
  width: 11px;
}
.scroll_bg.vertical .scroll_bar {
  top: 55px;
  left: 4px;
  width: 9px;
  height: 60px;
  cursor: pointer;
}
.scroll_bg.horizontal {
  border-radius: 0px 0px 5px 5px;
  left: 0px;
  right: 0px;
  bottom: -19px;
  height: 19px;
}
.scroll_bg.horizontal:after {
  left: 5px;
  right: 5px;
  bottom: 5px;
  height: 11px;
}
.scroll_bg.horizontal .scroll_bar {
  top: 5px;
  left: 105px;
  width: 200px;
  height: 9px;
}
.options {
  position: absolute;
  bottom: 2px;
  left: 7px;
  right: 5px;
  z-index: 1;
}
.options li {
  float: right;
  color: #777;
  text-shadow: 0px 1px 2px #333;
  padding: 2px 1px 1px 1px;
  margin: 0px 7px 0px 0px;
  cursor: pointer;
}
.options li figure {
  margin-right: 3px;
}
.options li:hover:not(.search) {
  color: #eee;
}
.options li.active {
  color: #bbb;
  cursor: default;
}
.options li.search {
  position: absolute;
  bottom: 0px;
  right: 11px;
  padding: 2px 17px 1px 3px;
  margin-right: 0px;
}
.options li.search figure {
  position: absolute;
  top: 3px;
  left: -13px;
  font-size: 19px;
}
.options li.search figure.icon-arrows {
  left: auto;
  right: -13px;
  font-size: 23px;
}
.options li.search .zoom_level {
  float: right;
  background: #373737;
  color: #aaa;
  padding: 1px 7px 0px 7px;
}
.options li.search .zoom_level:after {
  content: '%';
  color: #777;
  position: relative;
  left: 2px;
}
/*
 * CANVAS
 */
